# cache
__pycache__

# other folders
misc
images
graphics
part II*

# CT data - not public
cochlea_data/Subject*
cochlea_data/*.xlsx
.DS_Store

# mean meshes - final ones copied in app's public
meshes

# experiments
experiments.ipynb